{
  margin:0;
  padding: 0;
}

body{
width: auto;
}

.grid{

}


.top{  /*parent fyrir topinn á síðunni*/
  display: grid;
  grid-area: tob;
  width: auto;
  padding-left: 300px;
  padding-right: 300px;
  background-color: blue;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.top_h1{
  grid-row-start: 2;
  background-color:;
  color: white;
}


.top_p1{
  text-align: right;
  grid-column-start: 2;
  grid-column-end: 3;
  color: white;
}

.top_links{
  padding-top: 30px;
  text-align: right;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  color: white;
  text-decoration: none;
}


.top_links > a{
  text-decoration: none;
  color: white;
}


.mid{    /*parent fyrir miðjuna á síðuni*/
  display: grid;
  grid-area: mid;
  grid-template-areas: 'box1 box2';
  padding-left: 300px;
  padding-right: 300px;
  background-image: linear-gradient(#d1ad6c, yellow);
  grid-gap: 10px;
}

.box1{
  grid-area: box1;
  grid-template-rows:1fr 1fr 1fr;
  font-size: 30px;
}
.box2{
  grid-area: box2;
  grid-template-rows: 1fr 1fr 1fr;
  font-size: 30px;
}






/*endir á mid*/
.bottom{
  grid-area: botom;
  padding:30px;
  background-color: blue;
  display: grid;
  grid-template-areas: 'list1 list2 list3'

}

.list1{
  padding-left:270px ;
  grid-area: list1;

}

.list2{
  grid-area: list2;
  list-style-type: none;

}

.list3{

  list-style-type: none;

}


ul{
  list-style-type: none;
}


a{
  text-decoration: none;
  color: black
}



dt{color: #d1ad6c;}





/*emenue css*/
