 * {
    box-sizing: border-box;
}
body {
	max-width: 960px;
 	margin: 0 auto;
}

footer p {
  text-align: center;
}
.col{
  display: flex;
  flex-flow: column;

}

section.row{
  display:flex;
  flex-flow: row;
}
.row > div {
  width: 25%;


}


.gulur {
	background-color: yellow;
  order: 1;

}
.raudur {
	background-color: red;
  order: 2;

}
.graenn {
	background-color: lime;
  order: 3;

}
.blar {
	background-color: cyan;
  order: 4;

}
.box {
	font-size: 1.2em;
	height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
