body{
 font-family:"arial";
 max-width: 50em;
 outline-style: 5px blue solid;
 padding-left: 25em;

}
div.box-1{
  border: 4px blue solid ;
}

h1.redh1{
  color:red;
  text-align: center;
}
h1.blue {
  color: blue;
  text-align: center;
}

h2.purple{
  color: purple;
}

span.red{
  color: red;

}

ul{
  color: green;
}

span.emblue{
  color: blue;
}

p.class1{
  text-align: center;
}

h1.titleclass{
  text-align: center;
  color:blue;

}

h3.titleclass1{
  text-align: center;
}

h5.titleclass2{
  text-align: center;
}
