


.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
	50%{
		transform: translateX(-8%);
	}
	65%{
		transform: translateX(4%);
	}
	80%{
		transform: translateX(-4%);
	}
	95%{
		transform: translateX(2%);
	}
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%);
	}
	50%{
		-webkit-transform: translateX(-8%);
	}
	65%{
		-webkit-transform: translateX(4%);
	}
	80%{
		-webkit-transform: translateX(-4%);
	}
	95%{
		-webkit-transform: translateX(2%);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}






@keyframes sosialbaraan{
	0% {
		transform: translatey(75%);
	}
  5% {
    transform: translatey(70%);
  }
  10% {
    transform: translatey(65%);
  }
  15% {
    transform: translatey(60%);
  }
  20% {
    transform: translatey(55%);
  }
  30% {
    transform: translatey(50%);
  }
  35% {
    transform: translatey(45%);
  }
  30% {
    transform: translatey(40%);
  }
  35% {
    transform: translatey(35%);
  }
  40% {
    transform: translatey(30%);
  }
  45% {
    transform: translatey(25%);
  }
  50% {
    transform: translatey(20%);
  }
  55% {
    transform: translatey(15%);
  }
  60% {
    transform: translatey(10%);
  }
  65% {
    transform: translatey(5%);
  }
  100% {
    transform: translatey(0%);
  }


}



.socialbar:hover{
  animation-name: sosialbaraan;
  animation-duration: 1s;
  visibility: visible !important;
  transform: translatey(0%);}





@keyframes manmove{
	0% {
		transform: translateX(75%);
	}
  5% {
    transform: translateX(70%);
  }
  10% {
    transform: translateX(65%);
  }
  15% {
    transform: translateX(60%);
  }
  20% {
    transform: translateX(55%);
  }
  30% {
    transform: translateX(50%);
  }
  35% {
    transform: translatXy(45%);
  }
  30% {
    transform: translateX(40%);
  }
  35% {
    transform: translateX(35%);
  }
  40% {
    transform: translateX(30%);
  }
  45% {
    transform: translateX(25%);
  }
  50% {
    transform: translateX(20%);
  }
  55% {
    transform: translateX(15%);
  }
  60% {
    transform: translateX(10%);
  }
  65% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes ani {
  0% {
    transform: rotateX(100%);
  }
  50% {
    transform: rotateX(0%);
  }
  100% {
    transform: rotateX(100%);
  }
}



	.man{
		x-transition: all 1s ease-in-out;
		  animation: ani 1.7s infinite;
	}
