body{
  height:100%;
  width: 100%;
  background-color: white;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  cursor: url(/assets/img/mask.png),auto;
}


.authors{
  padding-right: 15px;
  text-decoration:none;
  list-style-image: url(/assets/img/gun.gif);
}

.content{
  color: 	#f765b8;
  background-color: #27fdf5;
  text-decoration: none;
  padding-left: 33.3%;
  padding-right: 33.3%;
  text-align: center;
  border: solid 3px #f98dc9;
  border-radius: 12px;
}



.background{
  background:linear-gradient(#f765b8,#27fdf5);
  background-blend-mode:color-burn;
  background-repeat: no-repeat;
  background-size:cover;
  margin-left:75px;
  margin-right:75px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: solid 8px hotpink;
  box-shadow: 55px 75px black;
  padding-left: 100px;
  padding-right: 100px;



}


.takkar{
  text-decoration: none;
  font-size: 30px;
  text-align: center;
}
.navdiv{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width:  1200px;
  padding-left: 11%;

}

.takkar{
    font-family: 'Miami', cursive;
    margin: 25px;
    padding: 15px;
    border: 3px solid #f98dc9;
    background-color: #27fdf5;
      list-style-image: url(/assets/img/gun.gif);
    cursor: url(/assets/img/mask.png),auto;

}

.takkar:hover{

  box-shadow: 20px 20px black;
  border-radius: 0px;
}

.takkar > a{

  color: #f98dc9;
  cursor: url(/assets/img/mask.png),auto;
  text-decoration: none;
  width: 45px;
}


.tree > img{
  width: 300px;
  height: 300px;
  padding: 0px;
  margin: 0px;
  display: block;

}
