/*
font-family: 'New Rocker', cursive;
font-family: 'Reem Kufi', sans-serif;
*/

body{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  user-select: none;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/assets/img/veggur.jpg");

}


.background{
  padding: 70px;

  display: grid;
  padding-left: auto;
  padding-right: auto;
  grid-template-areas:
  "banner"
  "middle"
  "footer";
}


.banner{
  grid-area:banner;
  text-align: center;
  background-color: black;
}

.middle{
  display: flex;
  flex-flow: row;
}


.navgrid{
   grid-area: nav;
   background-color: #660000;
   width: 300px;


}
.navdiv{
  text-align: center;
  width: 200px;
  display: grid;
  padding: 10px;
  font-size: 30px;
  grid-row: 1fr 1fr 1fr 1fr;
}
.takkar{
  font-family: 'New Rocker', cursive;
  color:black;
  text-decoration: none;
  padding:30px;
  font-size: 60px;
}
.content{
  flex-grow: 2;
  grid-area: content;
  background-color: #660000;
  border: 40px solid black;
}
.content > div{

}
.footer{
  grid-area: footer;
  text-align: center;
  background-color: black;
}
.footer-text{
  margin-left: auto;
  margin-right: auto;
  background-color: #660000;
  width: 840px;
}
.footer-text > p{
  font-size: 20px;
  font-family: 'Reem Kufi', sans-serif;
}

.footer-text > h1{
  font-family: 'New Rocker', cursive;
}

.logo {
  background-color: #660000;
  width: 840px;
}
