*{
  margin:0px;
  padding: 0px;
}

body{
  width: auto;

  background-color: rgb(90,90,90);
}

.grid{
  display: grid;
  grid-template-areas:'title'
   'navbar'
   'myndir';
   padding-left: 150px;
   padding-right: 150px;
}

.title{
  display: grid;
  grid-area: title;
  grid-template-columns: 1fr 1fr;
}

.logo{
  width: 75%;
}

.titlehead{
  font-size: 75px;
  font-family: 'Archivo Black', sans-serif;
  margin-top: 50px;
}


/*navmenue*/

.navbar{
  grid-area: navbar;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: solid 3px black;
  border-right: 0px solid;
}

.navbar > li{
  list-style-type: none;
  padding: 10px;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  border-right: solid 3px black;
  background-color:rgb(88,86,90);
}

.link1{
  text-decoration: none;
  font-size: 25px;
  color: rgb(108,126,107);
}
/*navmenue*/







.myndir{
  grid-area: myndir;
  display: grid;
  grid-template-columns:1fr 1fr 1fr ;
  padding-top: 15px;
  padding-left: %;
  background-color:rgb(109,129,103);
  border: solid 3px Black;
  border-top: 0px;
  grid-gap: 5px;

}
.myndir > img{
  max-width: 100%;
}


.myndir > div{
  text-align: center;
  padding: 40px;
}

.myndir > div > h1{
  padding: 15px;
}



.vid1{
  padding-top: 30px;
  padding-bottom: 30px;
}
