<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=New+Rocker|Reem+Kufi" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <div class="background">
      <div class="banner">
        <img class="logo"src="assets/img/finallogo.svg" alt="">
    </div>
    <div class="middle">

    <div class="navgrid">
    {% include navigation.html %}
    </div>
    <div class="content">
      <div>
      {{ content }}
    </div>
    </div>
    </div>
  <footer class="footer">
    <div class="footer-text">
    <h1>SLAMFEST.CO</h1>
    <p>Bringing you the heavyest music straight to your face</p>
    <p>smári steinar stefánsson</p>
    </div>
  </footer>
</div>
  </body>
</html>
