*{
  margin:0;
  padding:0;
}

body{
  width: 960px;
  margin-left: 300px;
}
.box1{grid-area: box1}
.box2{grid-area: box2}
.box3{grid-area: box3}

.grid{
  grid-row-gap: 30px;
  display: grid;
  grid-template-areas:
  'box1 box2'
  'box3 box3'

}

.box1{
  border: 3px   solid black;
  width: 480px;

}
.box1 > h1{
  padding: 0.5em;
}


.box2{
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid black ;
  width: 480px;




}

.box2 > h1{
  padding: 0.5em;
}

.box3{

  grid-area: box3;
  background: lime

}

.h1{
  font-family: impact;
  font-size: 70px;
  text-align: center;

}
.h2{
  font-family: impact;
  font-style: italic;
  font-size: 70px;
  text-align: center;
  color: red;

}

.h3{
  font-family: impact;
  font-size: 70px;
  text-align: center;




}





p{
  line-height: 1.6em;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 10px;
}
